*.pyc
*.bkp
*.png
*.db-journal
*.xls
*.zip
*.log*
*.1
*.svg
*.xlsx
examples/*.csv
examples/*.log
data/alignment_riferimento.js
data/Stratigrafia_2.csv
data/Stratigrafia_originale.csv
data/alignment.csv
data/out_pk.csv
data/query_pk.csv
data/falda_raccordo.csv
data/profilo_progetto_raccordo.csv
data/stratigrafia_raccordo.csv
*.prj
smt/GDAL-1.11.4-cp27-none-win_amd64.whl
data/Edifici_Analizzati_Attributi_old.csv
data/gis/contour_*
data/gis/smt_*
data/gis/mask*
data/smt_qgis.qgs~
*.dxf
smt/keys.txt
